/*######### Defaults ##########*/
h1, 
h4, 
p {
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1;
    margin: 0;
}

nav,
header,
footer {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}


/*######### Nav Bar #########*/
img.nav-home-img {
    width: 2.5em;
}

/*######### Header #########*/
#section-1-gradient {
    background: rgb(0,132,255,);
    background: -webkit-linear-gradient(90deg, rgba(156,70,252,1) 0%, rgba(0,132,255,1) 50%, rgba(63,251,234,1) 100%);  
    background: -o-linear-gradient(90deg, rgba(156,70,252,1) 0%, rgba(0,132,255,1) 50%, rgba(63,251,234,1) 100%);  
    background: -moz-linear-gradient(90deg, rgba(156,70,252,1) 0%, rgba(0,132,255,1) 50%, rgba(63,251,234,1) 100%);  
    background: linear-gradient(90deg, rgba(156,70,252,1) 0%, rgba(0,132,255,1) 50%, rgba(63,251,234,1) 100%);  
}

.jumbotron {
    background-color: inherit;
}

h1.large {
    color: white;
    font-size: 56px;
    margin: 0;
    line-height 70px;: 
}

/*######### Profile Pic #########*/
.image-cropper {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid black;
    padding: 15px;
    display: block;
    margin:auto
}

.profile-pic {
    width: 100%;
    height: auto;
    margin-top: -20px;
}
